<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDflcN_QOTHknaappSlPjGpBq7Sknzv9Ps</string>
	<key>GCM_SENDER_ID</key>
	<string>531539051234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookStore</string>
	<key>PROJECT_ID</key>
	<string>bookapp-2f758</string>
	<key>STORAGE_BUCKET</key>
	<string>bookapp-2f758.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:531539051234:ios:2d3d666556bd9f3cc9d4bb</string>
</dict>
</plist>